.customer-screen{
  height: 100vh;
  max-width: 100%;
  overflow-y: scroll;
}
  
  .customer-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  
  .customer-table {
    width: 90%;
    border-collapse: collapse;
  }
  .customer-thead{
    background-color: #285848;
    color: white;
  }
  
  .customer-thead th,
  .customer-tbody td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  .customer-tbody td{
    padding: 15px;
  }
  
  .customer-tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .customer-tbody tr:hover {
    background-color: #ddd;
  }
