* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #f2ebe9 ;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; /* Hide scrollbars */
}


/*Main*/
.task-screen{
  min-height: 90vh;
  max-width: 100%;
  margin: auto;
  padding: 0 1rem;
  
}

.app-container{
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #ffffff;
}

.screen-container{
  width: 100%;
}

.task-screen h1{
  margin-top: 50px;
}

.droptask{
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
}

h1{
  text-align: center;
}


/*Modal*/

.modal-top h2{
  text-align: center;
  color: rgb(14, 14, 14);
  padding-left: 20px;
}

.form-group{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.sub-btn{
  margin: 20px;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: #84b1f0;
}

.modal-btn{
  padding: 10px 20px;
  border: none;
  background-color: #285848;
  color: white;
  border-radius: 10px;
}

.modal-btn2{
  padding: 5px;
  border: none;
  background-color: #285848;
  color: white;
}

.modal-btn:hover{
  padding: 10px 20px;
  border: none;
  background-color: #e99f4c;
  color: rgb(26, 26, 26);
  border-radius: 10px;
}


.modal {
  position: fixed;
  top: 30%;
  left: 30%;
  transform: translate(-20%, -50%);
  background-color: white;
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-top{
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.inner-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(65%, -50%);
  background-color: white;
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal label {
  display: block;
  margin-bottom: 10px;
}

.modal input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #1f2833;
  border-radius: 3px;
  text-align: left;
}


.modal button[type="submit"],
.modal .modal-btn {
  display: block;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #285848;
  color: white;
  cursor: pointer;
}

.modal button[type="submit"]:hover,
.modal .modal-btn:hover {
  background-color: #e99f4c;
}



/*List Items */
.task-top{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.task-list{
  margin-top: 50px;
  height: 80vh;
  overflow-y: scroll;
  /* Hide scrollbars */
}

.main{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.subtask{
  width: 100%;
  border-radius: 10px;
}

.maininput{
  border: none;
  outline: none;
  width: 400px;
  padding: 1rem;
  border-radius: 15px;
  background-color: #c4d2ce;
}

.add{
  background-color: #285848;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.add:hover{
  background-color: #e99f4c;
  color: black;
}

.task{
  margin-top: 1rem;
  background-color: #e1e1e1;
  color: #111111;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task:hover{
  margin-top: 1rem;
  background-color: #a8ceb7;
  padding: 1.5rem 3rem;
  border-radius: 5px;
}
.icons{
  display: flex;
  justify-content: space-between;
  width: 50px;
  gap: 10px;
}

.icon{
  cursor: pointer;
  font-size: 20px;
}
